apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubefoundry-kuberay-provider-role
rules:
- apiGroups:
  - kubefoundry.kubefoundry.ai
  resources:
  - modeldeployments
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - kubefoundry.kubefoundry.ai
  resources:
  - modeldeployments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kubefoundry.kubefoundry.ai
  resources:
  - modeldeployments/finalizers
  verbs:
  - update
- apiGroups:
  - kubefoundry.kubefoundry.ai
  resources:
  - inferenceproviderconfigs
  verbs:
  - get
  - list
  - watch
  - create
  - patch
  - update
- apiGroups:
  - kubefoundry.kubefoundry.ai
  resources:
  - inferenceproviderconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ray.io
  resources:
  - rayservices
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ray.io
  resources:
  - rayservices/status
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
